<div class="modal fade" id="faqModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{'Питання-відповіді'|trans}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{{ asset('bundles/gromada/img/faq/OTG_1.png') }}" alt = 'faq'>
                <img src="{{ asset('bundles/gromada/img/faq/OTG_2.png') }}" alt = 'faq'>
                <img src="{{ asset('bundles/gromada/img/faq/OTG_3.png') }}" alt = 'faq'>
                <img src="{{ asset('bundles/gromada/img/faq/OTG_4.png') }}" alt = 'faq'>
                <img src="{{ asset('bundles/gromada/img/faq/OTG_5.png') }}" alt = 'faq'>
                <img src="{{ asset('bundles/gromada/img/faq/OTG_6.png') }}" alt = 'faq'>
                <img src="{{ asset('bundles/gromada/img/faq/OTG_7.png') }}" alt = 'faq'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Закрити'|trans }}</button>
            </div>
        </div>
    </div>
</div>