{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-offset-4 col-md-3">
            <div class="well">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    {% endif %}
                    <fieldset>
                        <legend><i class="fa fa-lock"></i> {{ 'Авторизуватись'|trans }}</legend>
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="username">{{ 'Логін'|trans }}</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">{{ 'Пароль'|trans |trans }}</label>
                            <input type="password" id="password" name="_password" class="form-control"/>
                        </div>
                        <div class="form-group checkbox checkbox-success">
                            <input type="checkbox"  id="remember_me" name="_remember_me" value="on"/>
                            <label for="remember_me">
                                {{ 'Запам\'ятати мене'|trans }}
                            </label>
                        </div>
                        <button type="submit" id="_submit" class="btn btn-primary">
                            <i class="fa fa-sign-in"></i> {{ 'Увійти'|trans }}
                        </button>
                       {# <button type="button" id = 'btn_register' class="btn btn-primary">
                            <a href="#" class="fa fa-user-plus" aria-hidden="true"></a> {{'action.register'|trans}}
                        </button>#}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}