<style>
    .ol-zoom,
.scale_buttons {

    top: 325px;
}
</style>
<div class="edit_buttons">
        <button class="mdl-button mdl-js-button mdl-button--icon btn_theme_hover_color" id="main_tt4">
            <i class="material-icons">near_me</i>
        </button>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="main_tt4">
            {{ 'Поточна'|trans }}
        </div>

        <button class="mdl-button mdl-js-button mdl-button--icon btn_theme_hover_color measure" id="length">
            <i class="material-icons">straighten</i>
        </button>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="length">
            {{ 'Відстань'|trans }}
        </div>
        <button class="mdl-button mdl-js-button mdl-button--icon btn_theme_hover_color measure" id="area">
            <i class="material-icons">border_outer</i>
        </button>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="area">
            {{ 'Площа'|trans }}
        </div>
        <button class="mdl-button mdl-js-button mdl-button--icon btn_theme_hover_color measure" id="erase">
            <i class="material-icons"> delete_forever</i>
        </button>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="erase">
            {{ 'Очистити'|trans }}
        </div>
        <button class="mdl-button mdl-js-button mdl-button--icon btn_theme_hover_color" id="main_tt7">
            <i class="material-icons"> help_outline</i>
        </button>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="main_tt7">
            {{ 'Допомога'|trans }}
        </div>
        <button class="mdl-button mdl-js-button mdl-button--icon btn_theme_hover_color" id="main_tt9">
            <i class="material-icons">print</i>
        </button>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="main_tt9">
            {{ 'Роздрукувати карту'|trans }}
        </div>
    </div>